@font-face {
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/opensans300.woff2") format("woff2"),
    url("../fonts/opensans300.woff") format("woff");
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/oswald.woff2") format("woff2"),
    url("../fonts/oswald.woff") format("woff");
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/oswald.woff2") format("woff2"),
    url("../fonts/oswald.woff") format("woff");
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/oswald300.woff2") format("woff2"),
    url("../fonts/oswald300.woff") format("woff");
  font-family: "Oswald";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/oswald500.woff2") format("woff2"),
    url("../fonts/oswald500.woff") format("woff");
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/oswald700.woff2") format("woff2"),
    url("../fonts/oswald700.woff") format("woff");
  font-family: "Oswald";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
