.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  text-transform: uppercase;
}

.main-nav--no-js {
  @include _700 {
    .toggle-button {
      display: none;
    }

    .main-nav__list {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      display: block;
      flex-direction: column;
      padding: 105px 150px 50px 50px;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

.main-nav__list {
  @include font(400, 14px, 21px, #fff);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  letter-spacing: 0.2em;

  @include _700 {
    display: none;
  }
}

.main-nav__list--open {
  @include _700 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
    flex-direction: column;
    padding: 105px 150px 50px 50px;
    background: rgba(0, 0, 0, 0.9);
  }
}

.main-nav__list--no-js .main-nav__toggle {
  @include _700 {
    display: none;
  }
}

.main-nav__item {
  position: relative;
  padding: 10px 0;

  &::after {
    content: "";
    position: absolute;
    right: 28px;
    bottom: 6px;
    width: 18px;
    height: 2px;
    background-color: #4caf50;

    @include _900 {
      right: 14px;
    }

    @include _700 {
      display: none;
    }
  }

  &:hover::after {
    left: 28px;
    width: auto;

    @include _900 {
      left: 12px;
    }
  }

  @include _700 {
    border-bottom: 1px solid #4caf50;
    padding: 15px 10px 10px 0;
  }
}

.main-nav__link {
  padding: 20px 30px;

  @include _900 {
    padding: 10px 15px;
  }

  @include _700 {
    padding-left: 5px;
  }
}
