// Typography

@mixin font($weight, $size, $lineheight, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineheight;
  color: $color;
}

// media

@mixin _1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin _1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin _900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin _500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin height520 {
  @media (max-height: 520px) {
    @content;
  }
}

// Sections title

@mixin title {
  @include font(700, 48px, 71px, #252525);

  position: relative;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 45px;
    height: 2px;
    background-color: #252525;
  }

  @include _500 {
    @include font(700, 30px, 50px, #252525);
  }
}

// Subtitle

@mixin subtitle {
  @include font(300, 20px, 30px, #252525);

  position: relative;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 35px;
    height: 2px;
    background-color: #252525;
  }
}

// greenline

@mixin greenUnderline {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #70bf73;
    animation-name: greenline;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;

    @keyframes greenline {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }
  }
}
