// Typography

@mixin font($weight, $size, $lineheight, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineheight;
  color: $color;
}

// Sections title

@mixin title {
  @include font(700, 48px, 71px, #252525);

  position: relative;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 45px;
    height: 2px;
    background-color: #252525;
  }
}

// Subtitle

@mixin subtitle {
  @include font(300, 20px, 30px, #252525);

  position: relative;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 35px;
    height: 2px;
    background-color: #252525;
  }
}

// media

@mixin _1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin _1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin height480 {
  @media (max-height: 480px) {
    @content;
  }
}
