.page-header {
  margin-bottom: 150px;
  height: 100vh;
  color: #fff;
  background: url("../img/bitmap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__nav {
  margin: 0 auto 20vh;

  @include height480 {
    margin-bottom: 10vh;
  }
}

.page-header__logo {
  @include font(700, 36px, 30px, #fff);

  margin: 0;
  padding: 0 10px;
}

.page-header__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 65vh;

  @include _1300 {
    width: 900px;
  }
}

.page-header__slogan {
  @include font(500, 72px, 107px, #fff);

  margin: 0 auto 4vh;
  letter-spacing: 0.1em;
  text-align: center;

  @include height480 {
    font-size: 48px;
  }
}

.page-header__title {
  flex-grow: 1;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
}

.page-header__controls-wrapper {
  flex-grow: 0;
}

.page-header__controls-list {
  @include font(700, 18px, 27px, #fff);

  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 110px;
}

.page-header__controls-item {
  padding: 5px;
}

.page-header__controls-button {
  display: block;
  border: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.45);
  background: transparent;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  &--active {
    @include font(700, 36px, 53px, #fff);

    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      right: -3px;
      top: 50%;
      z-index: -1;
      width: 40px;
      height: 2px;
      background-color: #70bf73;
    }

    &::after {
      content: "";
      position: absolute;
      left: -3px;
      top: 50%;
      z-index: 1;
      width: 13px;
      height: 2px;
      background-color: #70bf73;
    }
  }
}
