.portfolio {
  position: relative;
  margin: 0 auto;
  padding: 0 30px 170px;
  max-width: 1245px;

  @include _1300 {
    padding-bottom: 80px;
  }
}

.portfolio__title {
  @include title;

  margin-bottom: 80px;

  @include _1100 {
    margin-bottom: 50px;
  }
}

.portfolio__nav {
  margin-bottom: 160px;

  @include _1300 {
    margin: 0 auto 125px;
    width: 550px;
  }

  @include _1100 {
    margin: 0 auto 60px;
  }
}

.portfolio__nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  color: #252525;
}

.portfolio__link {
  padding: 20px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    padding: 20px 20px 20px 0;
  }

  @include _1300 {
    display: flex;
  }
}

.portfolio__card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 50px;
  gap: 140px 280px;

  @include _1300 {
    gap: 90px 100px;
  }

  @include _1100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 0;
  }
}

.portfolio__view-more {
  @include font(400, 13px, 19px, #252525);

  position: absolute;
  right: 20px;
  bottom: 200px;
  padding: 15px;
  letter-spacing: 2px;

  &:hover {
    color: #70bf73;
  }

  @include _1300 {
    position: static;
    display: block;
    text-align: center;
  }
}
