.services {
  margin-bottom: 165px;
  background-color: #fbfbfb;

  @include _1300 {
    margin-bottom: 100px;
  }
}

.services__content-wrapper {
  margin: 0 auto;
  padding: 135px 30px;
  max-width: 1245px;

  @include _1300 {
    padding-top: 90px;
  }
}

.services__title {
  @include title;

  margin-bottom: 85px;
}

.services__cards-wrapper {
  display: flex;
  justify-content: space-between;
}
