.socials__list {
  display: flex;
  justify-content: center;
}

.socials__link {
  margin: 0 7px;
  padding: 10px 20px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;

  &--fb {
    background-image: url("../img/icons/facebook.svg");

    &:hover {
      background-image: url("../img/icons/facebook-hover.svg");
    }
  }

  &--twitter {
    background-image: url("../img/icons/twitter.svg");

    &:hover {
      background-image: url("../img/icons/twitter-hover.svg");
    }
  }

  &--pinterest {
    background-image: url("../img/icons/pinterest.svg");

    &:hover {
      background-image: url("../img/icons/pinterest-hover.svg");
    }
  }
}
