.team-card {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 398px;

  &:hover .team-card__text-wrapper {
    @include greenUnderline;

    bottom: 0;
    animation: appearance 1s;
  }

  &:hover .team-card__name::after {
    display: block;
  }

  @include _1300 {
    width: 279px;
    height: 299px;
  }

  @include _900 {
    position: absolute;
    box-shadow: -8px 2px 5px 0 rgba(0, 0, 0, 0.4);

    &:hover {
      z-index: 10;
      animation: moveUp 0.5s linear;

      @keyframes moveUp {
        0% {
          opacity: 0.2;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &--first {
      left: 0;
    }

    &--second {
      left: 50%;
      transform: translateX(-50%);
    }

    &--third {
      right: 0;
    }
  }

  @include _700 {
    position: relative;
    box-shadow: none;
    pointer-events: none;

    &--second {
      left: 0;
      transform: translateX(0);
    }

    @include _500 {
      overflow: auto;
      width: 186px;
      height: 370px;
    }
  }

  @keyframes appearance {
    from {
      bottom: -70px;
    }

    to {
      bottom: 0;
    }
  }
}

.team-card__text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);

  @include _1300 {
    bottom: -78px;
  }

  @include _900 {
    align-items: start;
    padding-left: 10px;
  }

  @include _700 {
    bottom: 0;
  }

  @include _500 {
    bottom: 32px;
  }
}

.team-card__name {
  @include font(300, 18px, 27px, #252525);

  position: relative;
  margin: 20px 0 15px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 35px;
    display: none;
    width: 45px;
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);

    @include _900 {
      left: 23px;
    }

    @include _700 {
      display: block;
    }
  }
}

.team-card__position {
  @include font(300, 18px, 27px, #252525);

  margin: 0;
}

.team-card__slogan {
  font-size: 12px;
  color: #777;
}
