.team {
  margin-bottom: 120px;
  background: #fbfbfb;
}

.team__content-wrapper {
  margin: 0 auto;
  padding: 135px 30px 70px;
  max-width: 1245px;

  @include _1300 {
    padding-top: 80px;
  }
}

.team__title {
  @include title;

  margin-bottom: 70px;
}

.team__card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1245px;

  @include _1300 {
    justify-content: center;
  }
}

.team__card {
  @include _1300 {
    margin: 0 10px;
  }
}
