.team {
  margin-bottom: 120px;
  background: #fbfbfb;
}

.team__content-wrapper {
  margin: 0 auto;
  padding: 135px 30px 70px;
  max-width: 1245px;
}

.team__title {
  @include title;

  margin-bottom: 70px;
}

.team__card-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1245px;
}
